services:
  - type: web
    name: headshooter
    env: node
    plan: starter
    autoDeploy: true
    buildCommand: npm ci
    startCommand: npm start
    healthCheckPath: /
    envVars:
      - key: NODE_ENV
        value: production
